<div class="container">
  <h1>The Shop</h1>
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" data-src="<%= product.image %>" alt="Card image cap" width="100%">
        <div class="card-block">
          <h4 class="card-title"><%= link_to product.name, product %> <span class="label label-default"><%= product.brand %></span></h4>
          <p class="card-text"><%= product.description %></p>
          <a href="#" class="btn btn-success btn-block"><i class="fa fa-cart-plus"></i> Buy now</a>
          <%= link_to 'Like', like_product_path, class: 'btn btn-info' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
