<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <label class="file" for="product_image">
      <input type="file" name="product[image]" id="product_image">
      <span class="file-custom"></span>
    </label>
    <%# f.input :image %>
    <%= f.input :colour %>
    <%= f.input :price %>
    <%= f.input :brand %>
    <%= f.input :available %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
